@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <main>

        <section>
            <h2>Nowości</h2>
            <div class="shirts mb-3">

                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>

                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>
                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>
                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>
            </div>
            <h2>Legendarne koszulki</h2>
            <div class="shirts mb-3">
                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>
                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>
                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>
                <div class="card m-1">
                    <a href="/shirt/id">
                        <div class="price">399zł</div>
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/25c631e6cefb4c46abbb0d8f2982b3ff_9366/Inter_Miami_CF_23-24_Away_Authentic_Jersey_Messi_10_Rozowy_JE9705_23_hover_model.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INTER MIAMI CF 23/24 AWAY JERSEY</h5>
                            <p class="card-text p-1">Koszulka męska</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
</div>
